.wrapper
  .left-box
    = render 'layouts/side-bar'

  .center-box
    .main-content
      .select-tabs
        = link_to "ツイート", "", class: "tweet-tab active-tab"
        = link_to "イベント", "", class: "event-tab"
      .main-content-box
        = render 'tweet'

  .right-box
    #calendar